<!-- ====================================================================
                            dynamic component loader
===================================================================== -->
<div class="container">
    <div class="bg-dark p-4 text-white text-center header">About Component</div>
    <div class="d-flex">
        <div class="bg-warning left-sidebar p-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt itaque dolores labore magnam
                exercitationem laboriosam nihil corporis reprehenderit fugit consequuntur! Tempore natus voluptatem
                officiis blanditiis repellat soluta consectetur iste? Soluta obcaecati vero laborum repudiandae? Nemo
                animi odit laborum non sint ipsam nam mollitia iure natus, sit debitis quisquam numquam optio rerum
                soluta repellendus accusamus sequi doloremque fuga ratione. Eaque animi repudiandae nulla ex nemo cum
                possimus, debitis ea obcaecati dolorum, optio, nesciunt eveniet laboriosam laudantium provident
                praesentium ut doloremque dolorem corporis vitae expedita fugit amet. Illo doloremque velit sint
                architecto, expedita quae blanditiis suscipit voluptatibus similique modi iusto quos aspernatur.
            </p>
        </div>
        <div class="bg-info center-content p-3">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque minus commodi tenetur, dolore animi
                quam, amet libero modi, dolorum deleniti explicabo ex id culpa aliquid reiciendis molestiae quibusdam
                nostrum enim. Ducimus repellendus nemo quae obcaecati architecto esse, mollitia eveniet cupiditate
                nesciunt quas vero inventore voluptas sed culpa excepturi, animi officiis dicta tenetur. Doloribus
                voluptatibus nobis voluptate eos mollitia tenetur aperiam perspiciatis consequatur eligendi, cumque
                molestiae totam error nostrum numquam sed in delectus saepe ipsum aliquam sapiente voluptatem. Iusto
                aliquam incidunt laudantium maiores harum mollitia cupiditate? Placeat sit, maxime laudantium sapiente
                inventore numquam delectus. Tempore quae facilis tempora pariatur sunt. Perspiciatis obcaecati vel
                cupiditate atque. Itaque veniam ratione sapiente beatae. Corrupti tempore doloribus molestias
                accusantium, eius architecto dolores mollitia totam repudiandae incidunt voluptatibus iste repellendus
                hic voluptas id explicabo atque dolorum iusto facere nobis quis pariatur beatae ut? Enim eligendi
                nostrum velit unde ipsa quidem iste necessitatibus cum expedita a adipisci obcaecati doloribus qui
                similique, possimus, provident explicabo! Deserunt nobis at fugit sunt. Magnam possimus consequatur
                minima, itaque voluptatum quisquam accusamus rerum iusto doloremque neque in enim quae tempore
                consequuntur laboriosam. Quidem ipsa facere fugit quis libero officiis dolorum error beatae. Maxime,
                itaque pariatur! Tenetur, dicta? Dicta cumque molestiae reprehenderit iste nisi magni doloribus, eos
                nostrum soluta similique, praesentium earum rem impedit. Architecto sapiente dignissimos earum rerum,
                officia dicta ullam, voluptate repellat rem veniam similique optio, provident voluptatem? Ut laudantium
                vel in!
            </p>
        </div>
        <div class="bg-warning right-sidebar p-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quos dolorum recusandae impedit est
                voluptatem dolore aspernatur obcaecati saepe eum, similique perspiciatis aliquam beatae blanditiis nam
                ipsam deleniti ex repudiandae inventore harum dicta corrupti voluptas corporis! Aliquam, aperiam quis et
                accusamus dolores tempora molestias, officiis placeat tempore cum iste quae ratione illum distinctio
                laudantium cupiditate ex similique, hic eum voluptatem. Odio deleniti itaque corrupti excepturi sed
                dolore in culpa sunt laudantium illum, ipsam voluptatem veritatis aliquid quas odit rem libero eius, a
                eligendi temporibus repellendus delectus recusandae nesciunt. Id officia, perferendis placeat vitae
                voluptate similique aliquid architecto. Doloribus, soluta eligendi.
            </p>
        </div>
    </div>
    <div class="bg-dark p-4 text-center text-white footer">Footer</div>
</div>