/* You can add global styles to this file, and also import other style files */
// dynaimc component loader
.left-sidebar {
    width: 25%;
    height: 75vh;
}
.center-content {
    width: 50%;
}
.right-sidebar {
    width: 25%;
    height: 75vh;
}
.header {
    border-radius: 10px 10px 0 0;
}
.footer {
    border-radius: 0 0 10px 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
